body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6fa;
}

img {
  height: 40px;
  width: 40px;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* Dark Blue */

  color: #334253;
}

h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 8px;
  /* identical to box height */

  text-align: center;

  /* Moderate Blue */

  color: #5357b6;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Grayish Blue */

  color: #67727e;
}
